body {
    background-color: white;
    min-width:900px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:900px;            /* As IE6 ignores !important it will set width as 1000px; */
}
}
h1 {
  color: darkblue;
}
h2 {
  color: darkblue;
}
p {
  color: black;
}
