body {
    background-color: white;
    min-width:900px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:900px;            /* As IE6 ignores !important it will set width as 1000px; */
}
}
h1 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: darkblue;
}
p {
  color: black;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: block;
  padding: 8px;
  color: white;
}
